<div class="form-group">
  <label [for]="controlName">{{ label }}</label>
  <input
    (paste)="onPaste($event)"
    [id]="controlName"
    [type]="type"
    [placeholder]="placeholder"
    [formControlName]="controlName"
    [attr.autocomplete]="autocomplete"
  />

  <div class="error" *ngIf="submitted">
    <div *ngFor="let errorKey of Object.keys(errors)">
      <div *ngIf="formGroup.get(controlName)?.hasError(errorKey)">
        {{ errors[errorKey] }}
      </div>
    </div>
  </div>
</div>
