<div class="wrapper">
  <app-form
    autocomplete="off"
    title="Reset Password"
    [formGroup]="resetPassForm"
    [formButtonName]="ButtonName.ResetPassword"
    [formFunction]="onSubmit.bind(this)"
    [errorMessage]="errorMessage"
  >
    <app-form-input
      label="OTP"
      placeholder="otp"
      controlName="otp"
      [submitted]="submitted"
      [errors]="{ required: 'OTP is required!' }"
    ></app-form-input>

    <app-form-input
      type="password"
      label="New Password"
      placeholder="Enter a new password"
      controlName="newPassword"
      [submitted]="submitted"
      [errors]="{ required: 'New password is required!' }"
    ></app-form-input>

    <app-form-input
      autocomplete="autocomplete || (type === 'password' ? 'new-password' : 'off')"
      type="password"
      label="Verify Password"
      placeholder="Re-type your new password"
      controlName="verifyPassword"
      [submitted]="submitted"
      [errors]="{ required: 'Please confirm your password.' }"
    ></app-form-input>
  </app-form>
</div>


