.redirect-button {
  color: wheat;
  background-color: #007bff ;



padding: 10px 20px;
font-size: 16px;
border: none;
cursor: pointer;
border-radius: 5px;
transition: background-color 0.3s ease;
}

.home-container {
  background-color: var(--bg-color);
  color: var(--text-color);
}
