<div class="wrapper">
  <app-form
    autocomplete="off"
    title="Change Password"
    [formGroup]="passwordForm"
    [formButtonName]="ButtonName.ResetPassword"
    [formFunction]="onSubmit.bind(this)"
    [errorMessage]="errorMessage"
  >

    <app-form-input
      type="password"
      label="Current Password"
      placeholder="Enter your current password"
      controlName="currentPassword"
      [submitted]="submitted"
      [errors]="{ required: 'Current password is required!' }"
    ></app-form-input>

    <app-form-input
      type="password"
      label="New Password"
      placeholder="Enter a new password"
      controlName="newPassword"
      [submitted]="submitted"
      [errors]="{ required: 'New password is required!' }"
    ></app-form-input>

    <app-form-input
      type="password"
      label="Confirm Password"
      placeholder="Re-type your new password"
      controlName="verifyPassword"
      [submitted]="submitted"
      [errors]="{ required: 'Please confirm your password.' }"
    ></app-form-input>
  </app-form>
</div>


