<div class="container">
  <div class="profile-card">
    <div class="glass-card fade-slide-in" [attr.data-theme]="">

      <div class="profile-img">
        <img src="/avatar.svg" alt="avatar" />
      </div>

      <div class="profile-info">
        <h3 class="name">{{ user.username }}</h3>
        <p class="designation">{{ user.role }}</p>

        <div class="info-row">
          <label><i class=""></i> Email:</label>
          <span>{{ user.email }}</span>
        </div>
        <div class="info-row">
          <label><i class=""></i> Two Factor Authentication:</label>
          <span>{{ user.is_2_fa_active ? 'Enabled' : 'Disabled' }}</span>
        </div>
        <div class="info-row" *ngIf="userInfo">
          <label><i class=""></i> Phone:</label>
          <span>{{ userInfo.phone }}</span>
        </div>
        <div class="info-row" *ngIf="userInfo">
          <label><i class=""></i> Region:</label>
          <span>{{ userInfo.person_region }}</span>
        </div>
      </div>

    </div>
  </div>

</div>

