<div class="person-list-container" *ngIf="loading">

  <div class="person-card">
    <div class="image-carousel-wrapper">
      <div class="user-avatar-skeleton image-container"></div>
    </div>
    <div class="skeleton review-title-skeleton text-skeleton-custom-width"></div>
    <div class="user-line-skeleton"></div>
    <div class="review-input-container">
      <div class="skeleton review-title-skeleton skeleton-review-title-width"></div>
      <div class="star-skeleton-container">
        <div class="star-skeleton skeleton-custom-star-size" *ngFor="let star of [1,2,3,4,5,6,7,8,9,10]">★</div>
      </div>
    </div>

  <div class="info">
    <div class="user-info-skeleton description"></div>
    <div class="user-info-skeleton description text-skeleton-custom-width"></div>
  </div>

    <div class="skeleton review-title-skeleton title"></div>
    <div *ngIf="moviesStarred">
        <div *ngFor="let _ of [1, 2, 3]" class="role-group">
          <h3 class="skeleton review-title-skeleton skeleton-custom-color "></h3>
          <div class="movie-list-inline">
              <span *ngFor="let movie of [1, 2, 3, 4]" class="skeleton movie-pill review-title-skeleton skeleton-custom-padding"></span>
          </div>
        </div>
      </div>
  </div>
</div>


<div *ngIf="person && !loading && !error" class="person-list-container">
  <div class="person-card">

    <div *ngIf="person?.images as images" class="image-carousel-wrapper">

      <div *ngIf="images.length >= 1" class="image-carousel">

        <img class="carousel-image"
             [src]="getPersonImageByIndex(currentImageIndex)"
             alt="{{ person.name }}" />

        <div *ngIf="images.length > 1" class="nav-button-wrapper">
          <button class="nav-button left" (click)="prevImage()">❮</button>
          <button class="nav-button right" (click)="nextImage()">❯</button>
        </div>
      </div>

    </div>

    <div *ngIf="defaultImage" class="image-carousel-wrapper">

      <img
           class="image-container"
           [src]="getDefaultImage()"
           alt="{{ person.name }}" />
    </div>

    <h2>{{ person.name }}</h2>

    <div class="underline"></div>

<!--    <section *ngIf="currentUserLoaded" class="rating-section" aria-label="Film rating">-->
    <section class="rating-section" aria-label="Film rating">
      <app-rating
        [averageRating]="averageRating"
        [ratingCount]="ratingCount"
        [sectionTitle]="'Rating'"
        [smallHeader]="true"
        (onRate)="ratePerson($event)">
      </app-rating>
    </section>


    <!--    <p class="role" *ngIf="person.roles?.length">-->
<!--      Roles: {{ getRoleList(person.roles) }}-->
<!--    </p>-->

    <div class="info">


    <p class="description" *ngIf="person.description">
      About: {{ person.description }}
    </p>

    <p class="born" *ngIf="person.born">
      Born: {{ person.born | date:'dd MMM yyyy' }}
    </p>

    <p class="title" *ngIf="moviesStarred">
      Movies and Roles
    </p>

    <div *ngIf="moviesStarred">
      <div *ngFor="let entry of moviesStarred | keyvalue" class="role-group">
        <h3 class="role-title">{{ entry.key | titlecase }}:</h3>

        <div class="movie-list-inline">
      <span *ngFor="let movie of entry.value" class="movie-pill" (click)="redirectMovie(movie)">
        {{ movie.name }}
      </span>
        </div>
      </div>
    </div>

    </div>

  </div>
</div>
