<div class="carousel-wrapper">
  <h2 class="section-title">Top 10 Cinema Figures</h2>

  <div class="carousel-nav left" (click)="scroll('left')" [class.hidden]="atStart">‹</div>
  <div class="carousel-nav right" (click)="scroll('right')" [class.hidden]="atEnd">›</div>

  <div #carousel class="carousel-container"
       (pointerdown)="onPointerDown($event)"
       (pointermove)="onPointerMove($event)"
       (pointerup)="onPointerUp($event)"
       (pointercancel)="onPointerCancel()"
       (touchstart)="onPointerDown($event)"
       (touchmove)="onPointerMove($event)"
       (touchend)="onPointerUp($event)"
       (touchcancel)="onPointerCancel()">

    <div *ngFor="let _ of placeholderArray" class="actor-card"
         [ngClass]="{ 'hide': !loading }"
    >
      <div *ngIf="loading" class="image-skeleton-loader actor-img top-cast-img-skeleton"></div>
    </div>

    <div *ngFor="let actor of topActors" class="actor-card">
      <img
        [src]="getPersonImage(actor)"
        alt="{{ actor.name }}"
        (click)="goToActor(actor.id)"
        class="actor-img"
        (error)="onImageError($event, actor)"

      />
      <div class="actor-info">
        <h3>{{ actor.name }}</h3>
        <p
          class="rating"
          [style.color]="actor.rating | ratingColor">
        ⭐ {{ actor.rating.toFixed(1) }}</p>
      </div>
    </div>

  </div>
</div>

<div class="scroll-wrapper">
  <div class="scroll-container">
    <div class="item" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"></div>
  </div>
</div>
