<div class="cast-wrapper">

  <app-form
    [formGroup]="formGroup"
    [formButtonName]="ButtonName.Save"
    [formFunction]="onSubmit.bind(this)"
    [errorMessage]="errorMessage"
    [hasSpecialTitle] = true
  >
    <div form-title>
      Select a <i>role</i> and assign one or more <i>cast members</i> in <span class="highlight-name">{{ movieName }}</span>
    </div>
    <app-form-select
      label="Role"
      controlName="role"
      [formGroup]="formGroup"
      [options]="roleOptions"
      [submitted]="submitted"
      [multiple]="false"
    ></app-form-select>

      <app-form-select
        label="Cast members"
        controlName="persons"
        [formGroup]="formGroup"
        [options]="personOptions"
        [submitted]="submitted"
      ></app-form-select>
    </app-form>

</div>
