<input type="checkbox" id="openSideMenu" class="openSideMenu">
<label for="openSideMenu" class="menuIconToggle">
  <div class="hamb-line dia part-1"></div>
  <div class="hamb-line hor"></div>
  <div class="hamb-line dia part-2"></div>
</label>


<header class="header">

</header>

<nav id="nav-menu" class="nav">
    <div class="nav-scroll-wrapper">
       <ul>
          <li (click)="redirectHome(); hideNavMenu();"><a>Home</a></li>

          <li *ngIf="isLogged && isAdmin" (click)="userList(); hideNavMenu();"><a>User List</a></li>
          <li *ngIf="isLogged && isAdmin" (click)="roomList(); hideNavMenu();"><a>Movie List</a></li>
          <li *ngIf="isLogged && isAdmin" (click)="createRoom(); hideNavMenu();"><a>Add Movie</a></li>
          <!-- <li *ngIf="isLogged && isAdmin" (click)="donations(); hideNavMenu();"><a>Donații</a></li> -->
<!--          <li *ngIf="isLogged && isAdmin" (click)="donationHistory(); hideNavMenu();"><a>Donation History</a></li>-->

    <!--      <li *ngIf="isLogged && isAdmin" (click)="profile(); hideNavMenu();"><a>Profile</a></li>-->

         <li class="has-submenu" *ngIf="isLogged" [class.open]="submenuOpen" (click)="toggleSubmenu($event)">
           <a id="profile">Profile</a>
           <ul class="submenu">
             <li (click)="userInfo(); hideNavMenu(); toggleSubmenu($event);"><a>User Info</a></li>
             <li (click)="changeUsername(); hideNavMenu(); toggleSubmenu($event);"><a>Change Username</a></li>
             <li (click)="updateContactInfo(); hideNavMenu(); toggleSubmenu($event);"><a>Change User Info</a></li>
             <li (click)="changePassword(); hideNavMenu(); toggleSubmenu($event);"><a>Change Password</a></li>
             <li (click)="changeEmail(); hideNavMenu(); toggleSubmenu($event);"><a>Change Email</a></li>
             <li *ngIf="isLogged" (click)="twoFA(); hideNavMenu(); toggleSubmenu($event);"><a>{{_2fa}}</a></li>
             <li (click)="deleteAccount(); hideNavMenu(); toggleSubmenu($event);"><a>Delete Account</a></li>
           </ul>
         </li>


         <li (click)="toggleTheme(); hideNavMenu();"><a>Change Theme</a></li>
          <li (click)="logInOut(); hideNavMenu();"><a>{{action}}</a></li>
      </ul>
    </div>
</nav>
