<footer class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h3>About Me</h3>
      <a href="/toba_adrian_cv.pdf" download>
        <i class="fas fa-file-download icon"></i> <span>Download Resume (PDF)</span>
      </a>
      <a href="https://adrianilie01.github.io/toba-adrian-resume/" target="_blank" rel="noopener">
        <i class="fas fa-id-card icon"></i> <span>Online Resume</span>
      </a>
    </div>

    <div class="footer-section contact">
      <h3>Contact</h3>
      <a href="mailto:ilieadrian01@yahoo.com">
        <i class="fas fa-envelope icon"></i>  <span>{{email}}</span>
      </a>
      <a href="tel:+40759061848">
        <i class="fas fa-phone icon"></i> <span>+40 759 061 848</span>
      </a>
    </div>

    <div class="footer-section social">
      <h3>Social</h3>
      <a href="https://www.linkedin.com/in/adrianilie01/" target="_blank" rel="noopener">
        <i class="fab fa-linkedin icon"></i> <span>LinkedIn</span>
      </a>
      <a href="https://github.com/AdrianIlie01" target="_blank" rel="noopener">
        <i class="fab fa-github icon"></i> <span>GitHub</span>
      </a>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; {{ currentYear }} Movie Review — All rights reserved.
  </div>
</footer>
