<div class="form-group">
  <label>{{ label }}</label>

  <div class="multiselect-container"
       [class.open]="isOpen"
       (click)="toggleDropdown()"
  >
<!--    display the selected option or generic message and add placeholder class only for the generic message-->
<!--    <div class="selected-text" [class.placeholder]="controlValue.length === 0">-->
<!--      {{ selectedLabels }}-->
<!--    </div>-->

    <div class="selected-text" [class.placeholder]="isPlaceholder()">
      {{ selectedLabels }}
    </div>





    <div class="arrow" [class.open]="isOpen">&#9662;</div>
  </div>

  <div class="options" *ngIf="isOpen">
    <div
      class="option"
      *ngFor="let option of options"
      (click)="selectOption(option)"
      [class.selected]="isSelected(option)"
    >
      <input type="checkbox" [checked]="isSelected(option)" readonly />
      <span>{{ getOptionLabel(option) }}</span>
    </div>
  </div>
<!--  <div class="options" *ngIf="isOpen">-->
<!--    <div-->
<!--      class="option"-->
<!--      *ngFor="let option of options"-->
<!--      (click)="selectOption(option)"-->
<!--      [class.selected]="isSelected(option)"-->
<!--    >-->
<!--      <input type="checkbox" [checked]="isSelected(option)" readonly />-->
<!--      <span>{{ toTitleCase(option) }}</span>-->
<!--    </div>-->
<!--  </div>-->


</div>
