<div *ngIf="loading" class="loader"></div>
<div *ngIf="showPeople; else noPeople">

  <div class="person-list-container">
    <div *ngFor="let person of people" class="person-card">
        <div class="person-card-header">

            <img class="image-container"
                 [src]="getPersonImage(person)"
                 (error)="onImageError($event, person)"
                 alt="{{ person.name }}"
            />

            <h2 title="{{ person.name }}">{{ person.name }}</h2>

            <div class="underline"></div>
        </div>

      <p class="role" *ngIf="person.roles?.length">
        <span class="label">Roles:</span> {{ getRoleList(person.roles) }}
      </p>

      <p class="description" *ngIf="person.description">
        <span class="label">About :</span> {{ person.description }}
      </p>

      <p class="born" *ngIf="person.born">
        <span class="label">Born:</span> {{ person.born | date:'dd MMM yyyy' }}
      </p>

      <p class="movies" *ngIf="person?.movieRoles">
        <span (click)="getPersonMovies(person)"class="label">Movies:</span> {{ getPersonMovies(person) }}
      </p>


      <div class="buttons-container">
        <app-action-button class="btn-container"
                           [buttonName]="ButtonName.Edit"
                           [buttonFunction]="editPerson.bind(this, person.id)"
        ></app-action-button>

        <app-action-button class="btn"
                           [buttonName]="ButtonName.Movies"
                           [buttonFunction]="displayMovies.bind(this, person.id)"
        ></app-action-button>
      </div>

    </div>
  </div>
</div>

<ng-template #noPeople>
  <div *ngIf="!loading" class="no-persons">
    No people available.
  </div>
</ng-template>
