<div class="search-list-container">
  <app-search-filter
    [hideCategorySelect]="true"
    [categoryDisplayed]="'cast'"
    (search)="loadFilteredPeople($event)"
    (reset)="resetToUnfiltered()"
  ></app-search-filter>
</div>

<div *ngIf="loadingFirstPersons" class="person-list-container">

  <div *ngFor="let _ of dataLimit" class="credits-person-card"
  >
    <div *ngIf="loadingFirstPersons" class="movie-skeleton-container"
         [ngClass]="{ 'hide': !loadingFirstPersons }"
    >
      <div class="small-skeleton-image"></div>
      <div class="user-name-skeleton"></div>
      <div class="user-line-skeleton"></div>

      <div class="skeleton-info-line" *ngFor="let i of [1, 2, 3, 4, 5]"></div>

      <div class="skeleton-buttons">
        <div class="skeleton-button"></div>
        <div class="skeleton-button"></div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showPeople">
  <div class="person-list-container" #castContainer>
    <div *ngFor="let person of people" class="credits-person-card">

      <div *ngIf="!loadingFirstPersons" class="person-card-header">
        <img  class="image-container"
             [src]="getPersonImage(person)"
              (click)="onImgClick($event, person)"
              (error)="onImageError($event, person)"
             alt="{{ person.name }}" />
        <h2   title="{{ person.name }}">{{ person.name }}</h2>
        <div  class="underline"></div>
      </div>

      <div class="info-container">
        <p  class="role" *ngIf="person.roles?.length && !loadingFirstPersons">
          <span class="label">Roles:</span> {{ getRoleList(person.roles) }}
        </p>

        <p  class="description" *ngIf="person.description && !loadingFirstPersons">
          <span class="label">About:</span> {{ person.description }}
        </p>

        <p  class="born" *ngIf="person.born && !loadingFirstPersons">
          <span class="label">Born:</span> {{ person.born | date:'dd MMM yyyy' }}
        </p>

        <p class="movies" *ngIf="person.movieRoles?.length && !loadingFirstPersons">
          <span class="label">Movies:</span> {{ getPersonMovies(person) }}
        </p>
      </div>


      <div *ngIf="!loadingFirstPersons" class="buttons-container">
        <app-action-button class="btn-container"
                           [buttonName]="ButtonName.Edit"
                           [buttonFunction]="editPerson.bind(this, person.id)"
        ></app-action-button>

        <app-action-button class="btn"
                           [buttonName]="ButtonName.Movies"
                           [buttonFunction]="displayMovies.bind(this, person.id)"
        ></app-action-button>
      </div>

    </div>
  </div>
</div>

<div *ngIf="loading && loadingFirstPersons && people.length > 0" class="loader"></div>

<div *ngIf="!loadingFirstPersons && people.length === 0" class="no-data">
  No people available.
</div>

