<div class="cast-wrapper">

  <app-form
    [formGroup]="formGroup"
    [formButtonName]="ButtonName.Save"
    [formFunction]="onSubmit.bind(this)"
    [errorMessage]="errorMessage"
    [hasSpecialTitle] = true
  >
    <div form-title>
      Select a <i>movie</i> and assign <span class="highlight-name">{{ personName }}</span> to one or more <i>roles</i>
    </div>
    <app-form-select
      label="Roles"
      controlName="roles"
      [formGroup]="formGroup"
      [options]="roleOptions"
      [submitted]="submitted"
    ></app-form-select>

    <app-form-select
      label="Movie"
      controlName="movie"
      [formGroup]="formGroup"
      [options]="moviesOptions"
      [submitted]="submitted"
      [multiple]="false"
    ></app-form-select>
  </app-form>

</div>
