
<button
  type="button"
  class="action-button"
  [ngClass]="[getCssClass(buttonName)]"
  (click)="handleClick()"
>

  {{
  buttonName === buttonText.Save ? 'Save'
    : buttonName === buttonText.Edit ? 'Edit'
    : buttonName === buttonText.Enable ? 'Enable'
    : buttonName === buttonText.Disable ? 'Disable'
    : buttonName === buttonText.Delete ? 'Delete account'
    : buttonName === buttonText.Login ? 'Login'
    : buttonName === buttonText.Register ? 'Register'
    : buttonName === buttonText.VerifyOTP ? 'Verify'
    : buttonName === buttonText.Next ? 'Next'
    : buttonName === buttonText.ResetPassword ? 'Change Password'
    : buttonName === buttonText.ManageCast ? 'Manage Cast'
    : buttonName === buttonText.AddCast ? 'Add Cast'
    : buttonName === buttonText.AddMovie ? 'Add Movie'
    : buttonName === buttonText.ManageMovies ? 'Manage Movies'
    : buttonName === buttonText.Movies ? 'Movies'
    : buttonName === buttonText.Cast ? 'Cast'
        : '' }}
</button>
