.action-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.action-button.save {
  color: white;
  background-color: green;
}

.action-button.save:hover {
  background-color: darkgreen;
}

.action-button.edit {
  color: white;
  background-color: blue;
}

.action-button.edit:hover {
  background-color: darkblue;
}

.action-button.delete {
  color: white;
  background-color: red;
}

.action-button.delete:hover {
  background-color: darkred;
}

.action-button.save,
.action-button.login,
.action-button.register,
.action-button.next,
.action-button.reset-password,
.action-button.verify-otp {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.action-button.save:hover,
.action-button.login:hover,
.action-button.register:hover,
.action-button.next:hover,
.action-button.reset-password:hover,
.action-button.verify-otp:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.action-button.edit {
  width: 100%;
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.action-button.edit:hover {
  background-color: darkgreen;
  transform: translateY(-2px);
}
